.header__lang-link {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.2;
  text-decoration: none;
  margin: 0 0 0 18px;
}

.header__lang-link:hover {
  opacity: 0.8;
  cursor: pointer;
}


@media (max-width: 425px) {
  .header__lang-link {
    font-size: 1.125rem;
    line-height: 1.1;
  }
}
