.header__lang-link {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.2;
  margin: 0;
}

.header__lang-link:nth-child(2) {
  margin-left: 18px;
  text-decoration: none;
}

.header__lang-link:active {
  text-decoration-line: underline;
  text-underline-position: under;
}

@media (max-width: 320px) {
  .header__lang-link {
    font-size: 1.125rem;
    line-height: 1.1;
  }
}
