@import url("./__image/lead__image.css");
@import url("./__title/lead__title.css");
@import url("./__subtitle/lead__subtitle.css");
@import url("./__caption/lead__caption.css");

.lead {
  display: flex;
  flex-direction: column;
  margin: 56px auto 0;
  max-width: calc(100% - 18.5rem);
}

@media (max-width: 1024px) {
  .lead {
    margin-top: 48px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .lead {
    max-width: calc(100% - 6rem);
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .lead {
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .lead {
    max-width: calc(100% - 0.25rem);
  }
}

