.cover__subtitle {
  position: relative;
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  max-width: 360px;
  margin: 0 auto 245px;
}

@media (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
    width: 288px;
    height: 70px;
    margin: 33px 16px 16px;
  }
}
