.place__paragraphs {
  grid-area: Paragraphs;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .place__paragraphs {
    max-width: 456px;
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .place__paragraphs {
    max-width: 352px;
  }
}

@media (max-width: 425px) {
  .place__paragraphs {
    max-width: 288px;
    margin: 0 16px 0;
  }
}
