.lead__title {
  color: white;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 1;
  text-align: center;
}


@media (max-width: 768px) {
  .lead__title {
    margin: 0 24px;
  }
}

@media (min-width: 321px) and (max-width: 767px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 1.1;
    margin: 0 16px;
  }
}

@media (max-width: 320px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 1.1;
    margin: 0 16px;
  }
}
