.footer__links {
  position: relative;
}

@media (min-width: 321px) and (max-width: 767px) {
  .footer__links {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .footer__links {
    display: flex;
    flex-direction: column;
  }
}
