@import url('./__list/intro__list.css');
@import url('./__text/intro__text.css');
@import url('./__title/intro__title.css');
@import url('./__list-bold/intro__list-bold.css');

.intro {
    display: flex;
    flex-direction: column;
    max-width: 690px;
    margin: 114px 442px 0 148px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-right: 286px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        margin: 110px 24px 88px;
        max-width: 720px;
    }
}

@media screen and (max-width: 320px) {
    .intro {
        margin: 86px 16px 64px;
        max-width: 288px;
    }
}