@import url("./__overlay/cover__overlay.css");
@import url("./__background/cover__background.css");
@import url("./__subtitle/cover__subtitle.css");
@import url("./__title/cover__title.css");

.cover {
    position: relative;
    margin: 0 48px 92px;
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
}

@media (max-width: 1024px) {
  .cover {
    margin-left: 0;
    margin-right: 0;
  }
}