.cover__overlay {
    text-decoration: none;
}

.cover__overlay:before {
    background-color: #2a2c2f;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.3;
    transition: opacity 0.3s ease;
}
