.cover__background {
  background-image: url("../../../images/cover-trains.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: bottom;
}

.cover__background:hover {
  opacity: 0.8;
  transition: 0.4 ease linear;
  cursor: pointer;
}