@import url('./__copyright/footer__copyright.css');
@import url('./__link/footer__link.css');
@import url('./__links/footer__links.css');

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 48px 24px;
}