.intro__title {
  margin: 0 0 40px ;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 3.375rem;
  line-height: 1.1;
  color: white;
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 2rem;
    line-height: 1.1;
  }
}
